.background {
    background: 
        url('image/background.png') center;
        height: calc(100vh);
    
}

 .tent {
    width:150px;

 }

 .stars {
    background:
        url('image/Group\ 13.svg') center;
        height: 50vh;
 }

 .option {
    margin-bottom: 0.5rem;
    margin-left: 5rem;
 }